# Data Workflow

The main workflow for any data analysis project involves the following:

* R Set-up (loading relevant packages and data)
* Data Wrangling (cleaning and preparation)
* Visualisations (tables and graphs)
* Analysis (modelling or other technical analysis)
* Assumption checking

```{note}
Note: Advanced statistical analysis is beyond the scope of this workshop.
```

## Scenario

We are a part of a research team conducting a study that aims to understand if there is an association between the average number of hours an individual sleeps each night and the development of hypertension in adults aged 40 years or older. The research team believes that the following factors could obscure such an association, and as such should be adjusted for:

* Average daily alcohol consumption `[alcohol_day]`
* Regular use of marijuana `[regular_marij]`
* Is participant currently a smoker `[smoke_now]`
* Is participant regularly physically active `[phys_active]`
* BMI Group (underweight, healthy, overweight, obese) `[bmi]`

To answer this research question, we will use the US National Health and Nutrition Examination Survey (NHANES) provided within the data file `sleep.csv.`


```{note}
Note: The statistical methods for survey data are beyond the scope of this R workshop.
      As such we will treat this data as if it was collected from randomly selected individuals.
```

# R Set-up

There are a few things you need to do every time you open R:

* Install/Load packages
* Read in data (import data into R)

## Install/Load Packages

We **install** packages in R once. We **load** packages we are going to use everytime we open/start R. We recommended that you write the installation/load code at the top of your code script. This makes it easy to see what packages you used at a glance.

```{tip}
Tip: # is used to indicate a comment in R.
    This is a line which R will skip over and not try to run as code.
    The best codes are well commented.
```

In [1]:
# Install your packages (first use only)
# install.packages("tidyverse")
# install.packages("janitor")
# install.packages("gtsummary")

# Load your packages (everytime you restart R)
library(tidyverse)
library(janitor)
library(gtsummary)

── Attaching core tidyverse packages ───────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.0.4

── Conflicts ─────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Attaching package: ‘janitor’

The following objects are masked from ‘package:stats’:

    chisq.test, fisher.test

## Load in your Data

There are a variety of different ways to read data into R, since there are a variety of different ways to save and store data. One of the more common ways to save data is as a CSV (comma delimited file).

```{tip}
Tip: you will need to know which directory (folder) you're working in and point correctly to the file sleep.csv.
     See [Path Setting](pathsetting.md) for additional information.
```

In [2]:
# Read in your data and assign this to a dataframe called sleep
# A dataframe is the object R uses to store data sets
sleep <- read_csv("sleep.csv")

Rows: 4778 Columns: 26

── Column specification ─────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (14): gender, race1, education, MaritalStatus, hh income, home own, work...
dbl (12): ID, age, age (months), poverty, weight, height, pulse, bp_dia_ave,...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Notice the message R prints out. It indicates the delimiter (,), the type of each column, and the row and column count.

```{note}
Note: R automatically saves the first row from the .csv file as column names.
```

# Data Wrangling

## Viewing your data

It is generally **good practice** to look at your data to scan for things that might need fixing, for example:

* Text in numerical cells (e.g. “six” vs 6)
* Odd characters (e.g. >, <, /, etc.)
* Varied Date formats (e.g 01/16/2024, 16-1-24, Jan 16 2024, etc.)
* Coded variables (e.g. 99 = Missing)
* Typos (e.g. ys, yse)
* Variable capitalization or abbreviations (e.g. Yes, Y, yes)
* Misaligned/counterintuertive variable types

However, it is **bad practice** to look at your data for patterns or to see what research questions you should ask and test.

There are a couple of different ways you can look at your data:

In [3]:
# glimpse provides information on each column, it's name, type and the first few entries:
glimpse(sleep)

Rows: 4,778
Columns: 26
$ ID              <dbl> 54978, 62686, 60371, 59023, 53330, 67222, 61194, 69925…
$ gender          <chr> "Female", "Female", "Female", "Female", "Male", "Femal…
$ age             <dbl> 80.15551, 80.50146, 80.82286, 80.26906, 80.69757, 80.8…
$ `age (months)`  <dbl> 961.8661, 966.0175, 969.8743, 963.2287, 968.3709, 970.…
$ race1           <chr> "Black", "White", "White", "White", "White", "White", …
$ education       <chr> "9 - 11th Grade", "High School", "Some College", "9 - …
$ MaritalStatus   <chr> "Widowed", "Widowed", "Separated", "Married", "Married…
$ `hh income`     <chr> "20000-24999", "35000-44999", NA, "15000-19999", "2000…
$ poverty         <dbl> 1.07, 2.31, NA, 1.21, 1.37, 1.15, 0.42, 1.30, 1.29, 5.…
$ `home own`      <chr> "Own", "Own", "Own", "Own", "Own", "Own", "Own", "Own"…
$ work            <chr> "NotWorking", "NotWorking", "NotWorking", "NotWorking"…
$ weight          <dbl> 120.5, 100.0, 95.9, 91.8, 113.0, 87.2, 86.5, 80.9, 81.…
$ height          <dbl> 166.6, 160.7, 157.9, 155.9, 176.8, 156.4, 156.3, 151.3…
$ pulse           <dbl> 62, 82, 60, 80, 64, 92, 90, 62, 56, 60, 70, 72, 66, 60…
$ bp_dia_ave      <dbl> 61, 74, 28, 61, 78, 71, 51, 62, 59, 57, 67, 87, 40, 56…
$ bp_sys_ave      <dbl> 127, 156, 150, 130, 156, 126, 119, 136, 143, 168, 136,…
$ diabetes        <chr> "Yes", "Yes", "Yes", "No", "No", "No", "No", "No", "No…
$ n_pregnancies   <dbl> 9, 2, 5, 2, NA, 1, NA, NA, 10, NA, NA, NA, 3, NA, NA, …
$ sleep_hrs_night <dbl> 7.156727, 6.199555, 9.941897, 7.892662, 5.752325, 8.55…
$ sleep_trouble   <chr> "No", "No", "No", "No", "No", "Yes", "No", "No", "No",…
$ phys_active     <chr> "No", "No", "No", "No", "No", "No", "No", "No", "No", …
$ smoke_now       <chr> "No", "No", "No", "Yes", "No", "No", "No", "No", "No",…
$ alcohol_day     <chr> "3", "2", "4", "1", "1", "1", "1", "2", "1", "2", "2",…
$ regular_marij   <chr> "No", "No", "No", "No", "Yes", "Yes", "No", "Yes", "Ye…
$ hypertension    <chr> "No Hypertension", "No Hypertension", "No Hypertension…
$ BMI             <dbl> 43.41, 38.70, 38.46, 37.77, 36.15, 35.60, 35.41, 35.30…

In [4]:
# head (tail) shows the first (last) n rows:
head(sleep, n=2)
tail(sleep, n=3)

  ID    gender age      age (months) race1 education      MaritalStatus
1 54978 Female 80.15551 961.8661     Black 9 - 11th Grade Widowed
2 62686 Female 80.50146 966.0175     White High School    Widowed
  hh income   poverty home own ⋯ diabetes n_pregnancies sleep_hrs_night
1 20000-24999 1.07    Own      ⋯ Yes      9             7.156727
2 35000-44999 2.31    Own      ⋯ Yes      2             6.199555
  sleep_trouble phys_active smoke_now alcohol_day regular_marij hypertension
1 No            No          No        3           No            No Hypertension
2 No            No          No        2           No            No Hypertension
  BMI
1 43.41
2 38.70

  ID    gender age      age (months) race1 education MaritalStatus hh income
1 66117 Female 16.92910 203.1492     White NA        NA            more 99999
2 65627 Male   16.57579 198.9095     Black NA        NA            5000-9999
3 57464 Male   16.40998 196.9198     Black NA        NA            10000-14999
  poverty home own ⋯ diabetes n_pregnancies sleep_hrs_night sleep_trouble
1 5.00    Own      ⋯ No       NA            6.122093        Yes
2 0.30    Other    ⋯ No       NA            6.410928        No
3 0.77    Rent     ⋯ No       NA            6.311987        No
  phys_active smoke_now alcohol_day regular_marij hypertension    BMI
1 Yes         No        2           No            No Hypertension 18.30
2 No          No        2           No            No Hypertension 18.00
3 No          Yes       1           No            No Hypertension 17.09

In [5]:
# View will open the whole data file in a separate panel
# This works in RStudio but not here
View(sleep) # alternatively click on sleep in the environment panel

     ID    gender age      age (months) race1    education      MaritalStatus
1    54978 Female 80.15551 961.8661     Black    9 - 11th Grade Widowed
2    62686 Female 80.50146 966.0175     White    High School    Widowed
3    60371 Female 80.82286 969.8743     White    Some College   Separated
4    59023 Female 80.26906 963.2287     White    9 - 11th Grade Married
5    53330 Male   80.69757 968.3709     White    Some College   Married
6    67222 Female 80.87271 970.4725     White    8th Grade      Married
7    61194 Female 80.19019 962.2822     White    8th Grade      Widowed
8    69925 Female 80.79485 969.5382     Mexican  8th Grade      NeverMarried
9    69167 Female 80.42749 965.1299     White    9 - 11th Grade Widowed
10   66733 Female 80.48316 965.7980     Black    College Grad   Married
11   65097 Male   80.44913 965.3895     White    College Grad   Married
12   59788 Male   80.48350 965.8020     White    Some College   NeverMarried
13   61707 Female 80.74152 968.8982     White    9 - 11th Grade Widowed
14   51819 Male   80.07594 960.9112     White    9 - 11th Grade Married
15   62174 Male   80.57133 966.8560     White    College Grad   Married
16   55496 Male   80.06024 960.7229     White    College Grad   Married
17   67347 Male   80.23162 962.7794     White    8th Grade      Married
18   56905 Female 80.36851 964.4221     Black    College Grad   Widowed
19   52067 Female 80.37399 964.4878     White    9 - 11th Grade Married
20   53842 Female 80.02973 960.3567     White    Some College   Widowed
21   70779 Male   80.37207 964.4648     White    Some College   Married
22   57956 Male   80.94329 971.3195     White    College Grad   Married
23   65157 Female 80.53010 966.3612     White    Some College   Divorced
24   57775 Female 80.17348 962.0818     White    High School    Divorced
25   62517 Male   80.67090 968.0508     White    8th Grade      Married
26   61650 Male   80.93186 971.1823     White    High School    Married
27   54073 Female 80.63002 967.5602     White    High School    Married
28   67566 Female 80.15776 961.8931     White    Some College   Widowed
29   63514 Female 80.01676 960.2011     Black    High School    Widowed
30   55759 Female 80.57939 966.9527     Mexican  8th Grade      Widowed
⋮    ⋮     ⋮      ⋮        ⋮            ⋮        ⋮              ⋮
4749 64237 Female 16.41893 197.0272     White    NA             NA
4750 54221 Male   16.70443 200.4531     Mexican  NA             NA
4751 53435 Male   16.00088 192.0106     White    NA             NA
4752 62890 Female 16.14452 193.7342     Other    NA             NA
4753 69968 Male   16.33396 196.0075     White    NA             NA
4754 60941 Male   16.46940 197.6328     Hispanic NA             NA
4755 68779 Male   16.28414 195.4097     Mexican  NA             NA
4756 64773 Female 16.02357 192.2828     Mexican  NA             NA
4757 64012 Female 16.16898 194.0278     White    NA             NA
4758 57252 Female 16.81222 201.7466     Hispanic NA             NA
4759 71759 Male   16.70264 200.4317     Black    NA             NA
4760 63446 Male   16.21214 194.5457     Black    NA             NA
4761 55820 Male   16.51417 198.1700     Black    NA             NA
4762 70074 Male   16.88880 202.6656     Mexican  NA             NA
4763 68286 Female 16.93323 203.1987     White    NA             NA
4764 51771 Female 16.95259 203.4311     White    NA             NA
4765 52896 Female 16.67698 200.1237     Black    NA             NA
4766 63810 Male   16.44947 197.3936     Other    NA             NA
4767 66684 Male   16.94663 203.3596     Other    NA             NA
4768 67552 Female 16.32354 195.8825     White    NA             NA
4769 70989 Male   16.89532 202.7439     White    NA             NA
4770 52491 Male   16.67196 200.0635     White    NA             NA
4771 61341 Female 16.93364 203.2037     White    NA             NA
4772 67934 Female 16.51144 198.1373     White    NA             NA
4773 68014 Male   16.04714 192.5656     White    NA             NA
4774 59679 Female 16.83568 202.0281     White    NA             NA
4775 56670 Male   16.97072 203.6487     White    NA             NA
4776 66117 Female 16.92910 203.1492     White    NA             NA
4777 65627 Male   16.57579 198.9095     Black    NA             NA
4778 57464 Male   16.40998 196.9198     Black    NA             NA
     hh income   poverty home own ⋯ diabetes n_pregnancies sleep_hrs_night
1    20000-24999 1.07    Own      ⋯ Yes       9            7.156727
2    35000-44999 2.31    Own      ⋯ Yes       2            6.199555
3    NA            NA    Own      ⋯ Yes       5            9.941897
4    15000-19999 1.21    Own      ⋯ No        2            7.892662
5    20000-24999 1.37    Own      ⋯ No       NA            5.752325
6    25000-34999 1.15    Own      ⋯ No        1            8.555197
7    0-4999      0.42    Own      ⋯ No       NA            6.077727
8    10000-14999 1.30    Own      ⋯ No       NA            7.474176
9    10000-14999 1.29    Own      ⋯ No       10            6.970762
10   more 99999  5.00    Own      ⋯ No       NA            6.932179
11   75000-99999 5.00    Own      ⋯ No       NA            8.014354
12   45000-54999 4.62    Rent     ⋯ No       NA            6.715139
13   25000-34999 2.31    Own      ⋯ No        3            9.672555
14   65000-74999 3.60    Own      ⋯ Yes      NA            7.315377
15   65000-74999 4.30    Own      ⋯ No       NA            6.804733
16   75000-99999 5.00    Own      ⋯ No       NA            6.369331
17   25000-34999 2.04    Own      ⋯ No       NA            4.407648
18   10000-14999 1.29    Own      ⋯ No       NA            6.087517
19   20000-24999 1.51    Own      ⋯ No        3            6.998895
20   35000-44999 3.60    Own      ⋯ No        2            8.762179
21   25000-34999 1.82    Own      ⋯ No       NA            6.781864
22   75000-99999 5.00    Own      ⋯ No       NA            9.075299
23   25000-34999 2.48    Own      ⋯ No        3            7.217835
24   35000-44999 3.51    Own      ⋯ Yes       7            6.274403
25   NA            NA    Own      ⋯ Yes      NA            8.858710
26   35000-44999 2.75    Own      ⋯ No       NA            7.779653
27   25000-34999 2.16    Rent     ⋯ Yes       6            9.868690
28   15000-19999 1.26    Own      ⋯ Yes       4            6.742190
29   15000-19999 1.20    Rent     ⋯ No        5            9.310691
30   0-4999      0.09    Own      ⋯ Yes      12            9.681120
⋮    ⋮           ⋮       ⋮        ⋱ ⋮        ⋮             ⋮
4749 15000-19999 0.50    Own      ⋯ No       NA            6.878309
4750 55000-64999 2.72    Own      ⋯ No       NA            7.556747
4751 75000-99999 3.40    Own      ⋯ No       NA            8.866268
4752 more 99999  5.00    Own      ⋯ No       NA            8.788701
4753 65000-74999 2.33    Own      ⋯ No       NA            6.174690
4754 35000-44999 1.95    Own      ⋯ No       NA            8.762164
4755 55000-64999 4.21    Rent     ⋯ No       NA            8.578923
4756 more 99999  5.00    Own      ⋯ No       NA            6.854439
4757 35000-44999 1.13    Own      ⋯ No       NA            6.517937
4758 NA            NA    Rent     ⋯ No       NA            8.714390
4759 45000-54999 2.70    Own      ⋯ No       NA            8.572825
4760 25000-34999 1.16    Rent     ⋯ No       NA            8.567358
4761 20000-24999 1.09    Own      ⋯ No       NA            7.694931
4762 35000-44999 1.30    Own      ⋯ No       NA            6.074915
4763 NA            NA    NA       ⋯ No       NA            9.325218
4764 more 99999  4.85    Own      ⋯ No       NA            6.542143
4765 NA            NA    Rent     ⋯ No       NA            8.464762
4766 15000-19999 0.92    Rent     ⋯ No       NA            8.812366
4767 more 99999  4.59    Own      ⋯ No       NA            8.366518
4768 more 99999  4.07    Own      ⋯ No       NA            8.920172
4769 15000-19999 0.58    Own      ⋯ No       NA            7.441692
4770 55000-64999 2.72    Own      ⋯ No       NA            7.514442
4771 10000-14999 0.82    Own      ⋯ No       NA            7.101230
4772 35000-44999 1.52    Own      ⋯ No       NA            8.420585
4773 25000-34999 1.17    Own      ⋯ No       NA            8.127231
4774 more 99999  5.00    Own      ⋯ No       NA            7.106535
4775 more 99999  5.00    Own      ⋯ No       NA            7.683118
4776 more 99999  5.00    Own      ⋯ No       NA            6.122093
4777 5000-9999   0.30    Other    ⋯ No       NA            6.410928
4778 10000-14999 0.77    Rent     ⋯ No       NA            6.311987
     sleep_trouble phys_active smoke_now alcohol_day regular_marij
1    No            No          No        3           No
2    No            No          No        2           No
3    No            No          No        4           No
4    No            No          Yes       1           No
5    No            No          No        1           Yes
6    Yes           No          No        1           Yes
7    No            No          No        1           No
8    No            No          No        2           Yes
9    No            No          No        1           Yes
10   No            No          No        2           No
11   No            No          No        2           No
12   No            Yes         No        1           Yes
13   No            No          No        2           No
14   No            No          Yes       1           No
15   No            No          No        2           No
16   Yes           No          Yes       2           Yes
17   No            No          No        1           Yes
18   No            No          No        3           No
19   No            No          Yes       1           No
20   No            No          No        1           Yes
21   No            No          No        2           No
22   No            No          Yes       1           No
23   No            No          No        2           No
24   No            No          Yes       1           No
25   No            Yes         No        2           Yes
26   No            No          No        1           Yes
27   Yes           No          Yes       1           No
28   No            No          No        2           No
29   No            No          No        4           No
30   No            No          No        3           No
⋮    ⋮             ⋮           ⋮         ⋮           ⋮
4749 No            Yes         No        2           No
4750 No            Yes         Yes       1           No
4751 No            Yes         Yes       1           No
4752 No            Yes         No        2           No
4753 No            Yes         No        3           No
4754 No            No          No        1           No
4755 No            Yes         No        2           No
4756 No            Yes         No        2           No
4757 Yes           Yes         No        2           No
4758 No            Yes         Yes       1           No
4759 No            Yes         No        3           No
4760 No            Yes         No        2           No
4761 Yes           Yes         Yes       1           No
4762 No            Yes         No        3           No
4763 No            Yes         No        2           No
4764 No            No          Yes       1           No
4765 No            Yes         Yes       1           No
4766 No            No          No        2           No
4767 No            Yes         No        2           No
4768 Yes           Yes         No        2           No
4769 No            No          No        3           No
4770 No            Yes         Yes       1           No
4771 No            Yes         No        2           No
4772 No            Yes         No        2           No
4773 No            Yes         No        2           No
4774 No            Yes         Yes       1           No
4775 No            Yes         Yes       1           No
4776 Yes           Yes         No        2           No
4777 No            No          No        2           No
4778 No            No          Yes       1           No
     hypertension    BMI
1    No Hypertension 43.41
2    No Hypertension 38.70
3    No Hypertension 38.46
4    No Hypertension 37.77
5    Hypertension    36.15
6    No Hypertension 35.60
7    No Hypertension 35.41
8    No Hypertension 35.30
9    No Hypertension 35.10
10   No Hypertension 35.00
11   No Hypertension 34.80
12   Hypertension    34.52
13   No Hypertension 34.36
14   No Hypertension 34.04
15   No Hypertension 33.90
16   No Hypertension 33.88
17   Hypertension    33.40
18   No Hypertension 33.29
19   No Hypertension 33.11
20   No Hypertension 33.02
21   No Hypertension 32.90
22   No Hypertension 32.72
23   Hypertension    32.70
24   No Hypertension 32.42
25   No Hypertension 32.30
26   No Hypertension 32.23
27   No Hypertension 32.21
28   No Hypertension 32.20
29   No Hypertension 32.20
30   No Hypertension 31.83
⋮    ⋮               ⋮
4749 No Hypertension 21.30
4750 No Hypertension 21.15
4751 No Hypertension 21.14
4752 No Hypertension 21.00
4753 No Hypertension 21.00
4754 No Hypertension 20.85
4755 No Hypertension 20.80
4756 Hypertension    20.70
4757 No Hypertension 20.50
4758 No Hypertension 20.35
4759 No Hypertension 20.30
4760 No Hypertension 20.10
4761 No Hypertension 19.97
4762 No Hypertension 19.90
4763 No Hypertension 19.80
4764 No Hypertension 19.41
4765 No Hypertension 19.26
4766 No Hypertension 19.00
4767 No Hypertension 19.00
4768 No Hypertension 19.00
4769 No Hypertension 19.00
4770 No Hypertension 18.91
4771 No Hypertension 18.91
4772 No Hypertension 18.70
4773 No Hypertension 18.60
4774 No Hypertension 18.59
4775 No Hypertension 18.53
4776 No Hypertension 18.30
4777 No Hypertension 18.00
4778 No Hypertension 17.09

## Data Cleaning and Preparation

### Clean Column Names

A good first step is to clean column names, in case there are any odd symbols or mixed cases. The quickest way to do this is with the clean_names function from the `janitor` package.

In [6]:
# Fix column names reassigning this to the dataframe sleep
sleep <- clean_names(sleep)

### Trimming Data

It is often practical to trim your data set down to only the
necessary columns (variables). We can easily do this using the `select` function. We will keep only the variables mentioned in the Scenario.

```{tip}
Tip: It is best practise to preserve the original data frame so when we trim we assign this to a new data frame.
```

In [7]:
# Trim sleep to select columns only and assign this to a new dataframe sleep_trim
sleep_trim <- sleep %>%
  select(id,
    gender,
    age,
    hypertension,
    sleep_hrs_night,
    phys_active,
    smoke_now,
    alcohol_day,
    regular_marij,
    bmi)

We also want to trim the data down to our cohort of interest. In this case, we are interested in adults 40
years or older. We can use the `filter` function to remove participants who are younger than 40 from our data set.

```{warning}
It would be a good idea check a numerical summary of the age variable to make sure there are no extreme or impossible values before we filter
```

In [8]:
# generate a summary of the age variable belonging to the sleep_trim dataframe
summary(sleep_trim$age)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  16.00   29.91   44.24   45.64   60.05   80.99

In [9]:
# filter sleep_trim to select entries we want to keep
sleep_40 <- sleep_trim %>%
filter(age >= 40) #only those rows with age>=40

# add a check that the filter worked
min(sleep_40$age)

[1] 40.00887

## Variable Checking

We will first consider our exposure variable, in this case, the number of hours a participant sleeps each night `[sleep_hrs_night]`. Let's check to see if the summary values look reasonable.

In [10]:
# generate a summary of sleep_hrs_night variable
summary(sleep_40$sleep_hrs_night)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  4.003   6.364   7.288   7.323   8.445   9.998

```{tip}
Although the values look reasonable, 4 hours is not a lot of sleep. In practice, it might be worth checking with the data provider to make sure that there is not a typo somewhere.
```

Now let's fix the `alcohol_day` variable, which we saw earlier was a character variable. A quick easy way to figure out why a numeric variable has been classed as a character variable is to tabulate the variable using the `table` function.
The variable values (e.g 1) will be listed with their respective counts (e.g. 1007) directly below.

In [11]:
# create a table of values for alcohol_day
table(sleep_40$alcohol_day)

    1    10    12    13    14    15    16    17    18     2    20    21    24
 1007    21    40     1     1     7     1     2     1   734     3     2     1
    3    30     4     5     6     7     8     9   one   One   six  thre three
  355     1   212   110   133    24    33     4    13     9     2     1    10
Three
    6