# View your Data

It is generally **good practice** to look at your data to scan for things that might need fixing, for example:

* Text in numerical cells (e.g. “six” vs 6)
* Odd characters (e.g. >, <, /, etc.)
* Varied Date formats (e.g 01/16/2024, 16-1-24, Jan 16 2024, etc.)
* Coded variables (e.g. 99 = Missing)
* Typos (e.g. ys, yse)
* Variable capitalization or abbreviations (e.g. Yes, Y, yes)
* Misaligned variable types

However, it is **bad practice** to look at your data for patterns or to see what research questions you should ask and test.

There are a couple of different ways you can look at your data:

In [1]:
# Glimpse provides information on each column, it's name, type and the first few entries:
glimpse(sleep)

ERROR: Error in glimpse(sleep): could not find function "glimpse"

In [4]:
# Head (Tail) shows the first (last) n rows:
head(sleep, n=2)
tail(sleep, n=3)

  extra group ID
1  0.7  1     1
2 -1.6  1     2

   extra group ID
18 1.6   2     8
19 4.6   2     9
20 3.4   2     10