# Data Workflow

## Scenario

We are a part of a research team conducting a study that aims to understand if there is an association between the average number of hours an individual sleeps each night and the development of hypertension in adults aged 40 years or older. The research team believes that the following factors could obscure such an association, and as such should be adjusted for:

* Average daily alcohol consumption `[alcohol_day]`
* Regular use of marijuana `[regular_marij]`
* Is participant currently a smoker `[smoke_now]`
* Is participant regularly physically active `[phys_active]`
* BMI Group (underweight, healthy, overweight, obese) `[bmi]`

To answer this research question, we will use the US National Health and Nutrition Examination Survey (NHANES) provided within the data file sleep.csv.

```{note}
The statistical methods for survey data are beyond the scope of this R workshop, as such we will treat this data as if it was collected from randomly selected individuals.
```

# R Set-up

There are a few things you need to do every time you open R:

* Install/Load packages
* Read in data (import data into R)

## Install/Load Packages

We **install** packages in R once. We **load** packages we are going to use everytime we open/start R. We recommended that you write the installation/load code at the top of your code script. This makes it easy to see what packages you used at a glance.

```{note}
`#` is used to indicate a comment in R. This is a line which R will skip over and not try to run as code.
```

In [1]:
# Install your packages (first use only)
# install.packages("tidyverse")
# install.packages("janitor")
# install.packages("gtsummary")

# Load your packages
library(tidyverse)
library(janitor)
library(gtsummary)

── Attaching core tidyverse packages ───────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.0.4

── Conflicts ─────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Attaching package: ‘janitor’

The following objects are masked from ‘package:stats’:

    chisq.test, fisher.test

## Load in your Data

There are a variety of different ways to read data into R, since there are a variety of different ways to save and store data. One of the more common ways to save data is as a CSV (comma delimited file).

```{note}
You will need to know which directory (folder) you're working in when working with R and point correctly to the file sleep.csv.
```

In [2]:
# Read in your data and assign this to a data frame called sleep
sleep <- read_csv("sleep.csv")

Rows: 4778 Columns: 26

── Column specification ─────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (14): gender, race1, education, MaritalStatus, hh income, home own, work...
dbl (12): ID, age, age (months), poverty, weight, height, pulse, bp_dia_ave,...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Notice the message R prints out. It indicates the delimiter (,), the type of each column, and the row and column count.

```{note}
R automatically saves the first row from the .csv file as column names.
```

# Data Wrangling

## Viewing your data

It is generally **good practice** to look at your data to scan for things that might need fixing, for example:

* Text in numerical cells (e.g. “six” vs 6)
* Odd characters (e.g. >, <, /, etc.)
* Varied Date formats (e.g 01/16/2024, 16-1-24, Jan 16 2024, etc.)
* Coded variables (e.g. 99 = Missing)
* Typos (e.g. ys, yse)
* Variable capitalization or abbreviations (e.g. Yes, Y, yes)
* Misaligned variable types

However, it is **bad practice** to look at your data for patterns or to see what research questions you should ask and test.

There are a couple of different ways you can look at your data:

* Glimpse provides information on each column, it's name, type and the first few entries:

In [3]:
glimpse(sleep)

Rows: 4,778
Columns: 26
$ ID              <dbl> 54978, 62686, 60371, 59023, 53330, 67222, 61194, 69925…
$ gender          <chr> "Female", "Female", "Female", "Female", "Male", "Femal…
$ age             <dbl> 80.15551, 80.50146, 80.82286, 80.26906, 80.69757, 80.8…
$ `age (months)`  <dbl> 961.8661, 966.0175, 969.8743, 963.2287, 968.3709, 970.…
$ race1           <chr> "Black", "White", "White", "White", "White", "White", …
$ education       <chr> "9 - 11th Grade", "High School", "Some College", "9 - …
$ MaritalStatus   <chr> "Widowed", "Widowed", "Separated", "Married", "Married…
$ `hh income`     <chr> "20000-24999", "35000-44999", NA, "15000-19999", "2000…
$ poverty         <dbl> 1.07, 2.31, NA, 1.21, 1.37, 1.15, 0.42, 1.30, 1.29, 5.…
$ `home own`      <chr> "Own", "Own", "Own", "Own", "Own", "Own", "Own", "Own"…
$ work            <chr> "NotWorking", "NotWorking", "NotWorking", "NotWorking"…
$ weight          <dbl> 120.5, 100.0, 95.9, 91.8, 113.0, 87.2, 86.5, 80.9, 81.…
$ height          <dbl> 166.6, 160.7, 157.9, 155.9, 176.8, 156.4, 156.3, 151.3…
$ pulse           <dbl> 62, 82, 60, 80, 64, 92, 90, 62, 56, 60, 70, 72, 66, 60…
$ bp_dia_ave      <dbl> 61, 74, 28, 61, 78, 71, 51, 62, 59, 57, 67, 87, 40, 56…
$ bp_sys_ave      <dbl> 127, 156, 150, 130, 156, 126, 119, 136, 143, 168, 136,…
$ diabetes        <chr> "Yes", "Yes", "Yes", "No", "No", "No", "No", "No", "No…
$ n_pregnancies   <dbl> 9, 2, 5, 2, NA, 1, NA, NA, 10, NA, NA, NA, 3, NA, NA, …
$ sleep_hrs_night <dbl> 7.156727, 6.199555, 9.941897, 7.892662, 5.752325, 8.55…
$ sleep_trouble   <chr> "No", "No", "No", "No", "No", "Yes", "No", "No", "No",…
$ phys_active     <chr> "No", "No", "No", "No", "No", "No", "No", "No", "No", …
$ smoke_now       <chr> "No", "No", "No", "Yes", "No", "No", "No", "No", "No",…
$ alcohol_day     <chr> "3", "2", "4", "1", "1", "1", "1", "2", "1", "2", "2",…
$ regular_marij   <chr> "No", "No", "No", "No", "Yes", "Yes", "No", "Yes", "Ye…
$ hypertension    <chr> "No Hypertension", "No Hypertension", "No Hypertension…
$ BMI             <dbl> 43.41, 38.70, 38.46, 37.77, 36.15, 35.60, 35.41, 35.30…

* Head (Tail) shows the first (last) *n* rows:

In [4]:
head(sleep, n=2)
tail(sleep, n=3)

  ID    gender age      age (months) race1 education      MaritalStatus
1 54978 Female 80.15551 961.8661     Black 9 - 11th Grade Widowed
2 62686 Female 80.50146 966.0175     White High School    Widowed
  hh income   poverty home own ⋯ diabetes n_pregnancies sleep_hrs_night
1 20000-24999 1.07    Own      ⋯ Yes      9             7.156727
2 35000-44999 2.31    Own      ⋯ Yes      2             6.199555
  sleep_trouble phys_active smoke_now alcohol_day regular_marij hypertension
1 No            No          No        3           No            No Hypertension
2 No            No          No        2           No            No Hypertension
  BMI
1 43.41
2 38.70

  ID    gender age      age (months) race1 education MaritalStatus hh income
1 66117 Female 16.92910 203.1492     White NA        NA            more 99999
2 65627 Male   16.57579 198.9095     Black NA        NA            5000-9999
3 57464 Male   16.40998 196.9198     Black NA        NA            10000-14999
  poverty home own ⋯ diabetes n_pregnancies sleep_hrs_night sleep_trouble
1 5.00    Own      ⋯ No       NA            6.122093        Yes
2 0.30    Other    ⋯ No       NA            6.410928        No
3 0.77    Rent     ⋯ No       NA            6.311987        No
  phys_active smoke_now alcohol_day regular_marij hypertension    BMI
1 Yes         No        2           No            No Hypertension 18.30
2 No          No        2           No            No Hypertension 18.00
3 No          Yes       1           No            No Hypertension 17.09

* View which will work in R Studio will open the whole data file in a separate panel. To do this either type `View(sleep)` or click on `sleep` in the environment panel of R Studio.

## Data Cleaning and Preparation

### Clean Column Names

A good first step is to clean column names, in case there are any odd symbols or mixed cases. The quickest way to do this is with the clean_names function from the `janitor` package.

In [5]:
# Fix column names reassigning this to the data frame sleep
sleep <- clean_names(sleep)

### Trimming Data

It is often practical to trim your data set down to only the
necessary columns (variables). We can easily do this using the select function. We will keep only the variables mentioned in the Scenario.

*Note: it is best practise to preserve the original data frame so when we trim we assign this to a new data frame.*

In [6]:
# Trim sleep to select columns only and assign this to a new data frame sleep_trim
sleep_trim <- sleep %>%
  select(id,
    gender,
    age,
    hypertension,
    sleep_hrs_night,
    phys_active,
    smoke_now,
    alcohol_day,
    regular_marij,
    bmi)